.level-1 nav a {
    background-color: #145e16;
}

.level-1 header {
    background-color: #145e16;
}

.lock-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
    opacity: 0.8; 
}
